body {
    font-family: "Times New Roman", sans-serif;
    background-color: #2596be;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ADD8E6;
    color: white;
    padding: 10px;
    text-align: center;
}

.highlight {
    color: #00008B;
    font-weight: bold;
    font-size: 18px;
}

#about-header {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section {
    padding: 30px;
    margin: 15px;
    background-color: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#link {
    color: black;
}

#link:hover {
    color: #ADD8E6;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
}
